<!DOCTYPE html>
@{
    ViewBag.CurrentUsername = Session["CurrentUsername"];
    ViewBag.CurrentUserID = Session["CurrentUserID"];
    ViewBag.Leader = Session["Leader"].ToString();
    ViewBag.Outbid = Session["Outbid"].ToString();
    ViewBag.Won = Session["Won"].ToString();
    ViewBag.Lost = Session["Lost"].ToString();
}
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css' />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>

</head>
<body>
    <div id="nav">
        <a href="#">Hello, @ViewBag.CurrentUsername!</a>
        <a href="/Listing">Browse Auctions</a>
        <a href="/MyListing">My Auctions</a>
        <a href="/ClosingHistory">Purchase History</a>
        <a href="/">Log Out</a>
    </div>
    <div id="statusdiv">
        <div>
            <span class="leader">@ViewBag.Leader</span>
            <div class="smalltext">Leader</div>
        </div>
        <div>
            <span class="outbid">@ViewBag.Outbid</span>
            <div class="smalltext">Outbid</div>
        </div>
        <div>
            <span class="won">@ViewBag.Won</span>
            <div class="smalltext">Won</div>
        </div>
        <div>
            <span class="lost">@ViewBag.Lost</span>
            <div class="smalltext">Lost</div>
        </div>
    </div>
    <div id="content">
        @RenderBody()
        @RenderSection("scripts", required: false)
    </div>
    <p align="center">
        Made by Cami Diez 2016
    </p><br /><br />
</body>
</html>

@section scripts {
    
    <!--Script references. -->
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>

}